body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 90%, 0.829);
}

#myH1{
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 25%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 20%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 75%);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBTN{
    background-color: hsl(39, 100%, 50%);
}
#startBTN:hover{
    background-color: hsl(38, 100%, 40%);
}

#stopBTN{
    background-color: hsl(0, 100%, 50%);
}
#stopBTN:hover{
    background-color: hsl(0, 100%, 40%);
}

#resetBTN{
    background-color: hsl(120, 100%, 25%);
}
#resetBTN:hover{
    background-color: hsl(120, 100%, 15%);
}

